snippet error
		tracing::error!(${1}"${2:msg}")
snippet warn
		tracing::warn!(${1}"${2:msg}")
snippet info
		tracing::info!(${1}"${2:msg}")
snippet debug
		tracing::debug!(${1}"${2:msg}")
snippet trace
		tracing::trace!(${1}"${2:msg}")

snippet pod-struct
		#[derive(Clone, Copy, bytemuck::Pod, bytemuck::Zeroable)]
		#[repr(C)]
		struct ${1:Name} {
			${2:field}: ${3:Type},
		}
